.ui-datepicker-wrapper {
  width: 240px;
  margin: 0 auto;
  font-size: 16px;
  color: #666;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.3);
}
.ui-datepicker-wrapper .ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn {
  font-family: serif;
  font-size: 20px;
  text-decoration: none;
  width: 20px;
  height: 50px;
  line-height: 50px;
  color: #1abc9c;
  text-align: center;
  cursor: pointer;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn:hover {
  background: #ccc;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-prev {
  float: left;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-next {
  float: right;
}
