.ui-datepicker-wrapper {
  width: 260px;
  font-size: 16px;
  color: #666;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.3);
  display: none;
  position: absolute;
}
.ui-datepicker-wrapper .ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn {
  font-family: serif;
  font-size: 20px;
  text-decoration: none;
  width: 40px;
  height: 50px;
  line-height: 50px;
  color: #1abc9c;
  text-align: center;
  cursor: pointer;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn:hover {
  background: #ccc;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn:active {
  background: #ddd;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-prev {
  float: left;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-next {
  float: right;
}
.ui-datepicker-wrapper .ui-datepicker-body table {
  width: 100%;
  border-collapse: collapse;
}
.ui-datepicker-wrapper .ui-datepicker-body table th,
.ui-datepicker-wrapper .ui-datepicker-body table td {
  height: 30px;
  text-align: center;
}
.ui-datepicker-wrapper .ui-datepicker-body table th {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}
.ui-datepicker-wrapper .ui-datepicker-body table td {
  border: 1px solid #f0f0f0;
  width: 14%;
  cursor: pointer;
}
.ui-datepicker-wrapper .ui-datepicker-body table .currDay {
  color: #70D1AA;
}
.ui-datepicker-wrapper .ui-datepicker-body table td:hover {
  background: #ccc;
}
.ui-datepicker-wrapper .ui-datepicker-body table td:active {
  background: #ddd;
}
.ui-datepicker-wrapper .ui-datepicker-body table tbody tr td:first-child {
  border-left: none;
}
.ui-datepicker-wrapper .ui-datepicker-body table tbody tr td:last-child {
  border-right: none;
}
.ui-datepicker-wrapper-show {
  display: block;
}
